#main-lang{
    top: 40px;
    left: 410px;
    height: 180px;
    width: 68px;
}
#main-lang .val{
    font-size: 28px;
    margin-top: 70px;
    margin-left: 18px;
}
.lang{
    position: absolute;
    background-color: rgb(53,53,53);
    top: 36px;
    left: 185px;
    height: 95px;
    width: 58px;
}
.lang > a{
    display: block;
    text-decoration:none;
    height: 100%;   
}
.val{
    position: absolute;
    color: rgb(255,167,27); 
    font-size: 20px;
    margin-top: 55%;
    margin-left: 30%;

}
.lang:hover{
    background-color: rgb(112,112,112);
}
.langDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
}
.langDialog:target {
    display: block;
    pointer-events: auto;
}
.langDialog > .language {
    position: relative;
    width: 600px;
    height: 250px;
    margin: 8% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 5px;
    background: rgb(33,33,33);
}
.language img{
    display: block;
    width: 160px;
    height: 91px;
}
.en-picture{
    position: absolute;
    left : 140px; 
}
.language a{
    text-decoration: none;
}
.ru-picture{
    position: absolute;
    left: 340px;
}
.language figcaption {
    color: white;
    text-align: center;
}
.language > div:hover{
    border: 1px solid rgb(255,167,27);
}
