
.loginDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.9);
    z-index: 99999;
    transition: opacity 400ms ease-in;
}

.loginDialog:target {
    display: block;
    pointer-events: auto;
}

.loginDialog > .log-in {
    position: relative;
    width: 360px;
    height: 400px;
    margin: 8% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 5px;
    background: rgb(33,33,33);
}
.user{
    position: absolute;
    top:145px;
    left: 45px;
    width: 300px;
    height: 50px;
    font-size: 24px;
    padding-left: 10px;
    background-color: rgb(112,112,112);
    border: 0px;
}

.pass{
    position: absolute;
    top:215px;
    left: 45px;
    width: 300px;
    height: 55px;
    font-size: 24px;
    padding-left: 10px; 
    background-color: rgb(112,112,112);
    border: 0px; 
}

form input:focus{
    outline: 3px solid rgb(255,167,27);
}

.btn{
    font-family: Sansation_Regular;
    position: absolute;
    top:320px;
    left: 125px;
    width: 150px;
    height: 65px;
    font-size: 24px;
    background-color: rgb(33,33,33);
    border: 3px solid rgb(255,167,27);
    border-radius: 2px;
    color: rgb(255,167,27);
}
.btn:hover{
    background-color: rgb(255,167,27);
    color: rgb(33,33,33);
    cursor: pointer;
}

.login-register{
    padding-top: 20px;
    font-size: 35px;
    color: rgb(255,167,27);
    text-align: center;
}

.login-register > a{
    font-size: 35px;
}

.login-register > a:first-child{
    color: white;
    pointer-events: none;
    text-decoration: none;
}

.login-register > a:hover{
    font-size: 35px;
    color: rgb(255,167,27);
    text-decoration: underline;
}

.loginDialog h3{
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: red;
}


