.registerDialog {
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.9);
    z-index: 99999;
    transition: opacity 400ms ease-in;
}

.registerDialog:target {
    display: block;
    pointer-events: auto;
}

.registerDialog > .reg-in {
    position: relative;
    width: 980px;
    height: 650px;
    margin: 8% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 5px;
    background: rgb(33,33,33);
}

.register-login{
    padding-top: 20px;
    font-size: 35px;
    color: rgb(255,167,27);
    text-align: center;
}

.register-login > a{
    font-size: 35px;
    color: rgb(255,167,27);
    text-decoration: none;
}

.register-login > a:last-child{
    color: white;
    pointer-events: none;
    text-decoration: none;
}

.register-login > a:hover{
    font-size: 35px;
    color: rgb(255,167,27);
    text-decoration: underline;
}
.registerDialog h3{
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: rgb(255,167,27);
}

.login-reg {
    position: absolute;
    top: 200px;
    left: 80px;
    width: 400px;
    height: 55px;
    font-size: 24px;
    padding-left: 10px;
    background-color: rgb(112,112,112);
    border: 0px;
}

.pass-reg{
    position: absolute;
    top: 275px;
    left: 80px;
    width: 400px;
    height: 55px;
    font-size: 24px;
    padding-left: 10px;
    background-color: rgb(112,112,112);
    border: 0px;
}

.confirm-pass {
    position: absolute;
    top: 350px;
    left: 80px;
    width: 400px;
    height: 55px;
    font-size: 24px;
    padding-left: 10px;
    background-color: rgb(112,112,112);
    border: 0px;
}

.email {
    position: absolute;
    top: 425px;
    left: 80px;
    width: 400px;
    height: 55px;
    font-size: 24px;
    padding-left: 10px;
    background-color: rgb(112,112,112);
    border: 0px;
}

.first-name {
    position: absolute;
    top: 200px;
    left: 525px;
    width: 400px;
    height: 55px;
    font-size: 24px;
    padding-left: 10px;
    background-color: rgb(112,112,112);
    border: 0px;
}

.registerDialog select {
    cursor: pointer;
    position: absolute;
    height: 55px;
    font-size: 24px;
    padding-left: 10px;
    background-color: rgb(112,112,112);
    color: rgb(169,169,169);
}

.bday{
    cursor: pointer;
    position: absolute;
    height: 55px;
    font-size: 24px;
    padding-left: 10px;
    background-color: rgb(112,112,112);
    color: rgb(169,169,169);
    top: 350px;
    left: 525px;
    width: 398px;
    -webkit-appearance: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.regSelectCurrency{
    top: 425px;
    left: 525px;
    width: 410px;
}

.regSelectCurrency:visited{
    color: black;
}

.last-name {
    position: absolute;
    top: 275px;
    left: 525px;
    width: 400px;
    height: 55px;
    font-size: 24px;
    padding-left: 10px;
    background-color: rgb(112,112,112);
    border: 0px;
}

.reg-btn{
    font-family: Sansation_Regular;
    position: absolute;
    top:520px;
    left: 385px;
    width: 250px;
    height: 100px;
    font-size: 24px;
    background-color: rgb(33,33,33);
    border: 3px solid rgb(255,167,27);
    border-radius: 2px;
    color: rgb(255,167,27);
}
.reg-btn:hover{
    background-color: rgb(255,167,27);
    color: rgb(33,33,33);
    cursor: pointer;
}

.registerDialog .register-error {
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    color: red;
}