html {
 	background-color: rgb(40,40,40);
 	font-family: Sansation_Regular;
}

@font-face {
    font-family: Sansation_Regular;
    src: url(../fonts/Sansation_Regular.ttf);
}

h1 {
    font-weight: normal;
    margin-top: 2px;
    margin-bottom: 2px;
    color: rgb(255,167,27);
    text-align: center;
    font-size: 36px;
}

.btn{
	font-family: Sansation_Regular;
	position: absolute;
	top:320px;
	left: 125px;
	width: 150px;
	height: 65px;
	font-size: 24px;
	background-color: rgb(33,33,33);
	border: 3px solid rgb(255,167,27);
	border-radius: 2px;
	color: rgb(255,167,27);
}
.btn:hover{
	background-color: rgb(255,167,27);
	color: rgb(33,33,33);
	cursor: pointer;
}

/*------------------time and date-----------------*/
.time_line{
	position: absolute;
	background-color: rgb(53,53,53);
	top: 0;
	left: 10px;
	right: 10px;
	height: 30px;
	color: white;
}

#date{
	position: absolute;
	top: 5px;
	left: 238px;
	background-color: rgb(40,40,40);
	color: rgb(200, 200, 200);
	padding: 2px 50px;
	font-size: 16px;
}
#time{
	position: absolute;
	top: 5px;
	left: 480px;
	padding: 2px 50px;
	background-color: rgb(40,40,40);
	color: rgb(200, 200, 200);
	font-size: 16px;
}
/*------------------time and date-----------------*/


/*------------------logo-----------------*/
#main-logo{
	left: 200px;
	top: 40px;
	width: 200px;
	height: 180px;
}
#main-logo img{
	display: block;
	margin-left: 25px;
	margin-top: 35px;
	height: 102px;
	width: 151px;
}

.logo{
	position: absolute;
	background-color: rgb(53,53,53);
	left: 10px;
	top: 36px;
	width: 170px;
	height: 95px;
}
.logo img{
	display: block;
	margin-left: 25px;
	margin-top: 15px;
	height: 67px;
	width: 121px;
}
/*------------------logo-----------------*/

/*------------------header-----------------*/

#main-header{
	top: 40px;
	left: 488px;
	right: 210px;
	height: 180px;
}
#main-header .links{
	top: 70px;
}
#main-header a{
	font-size: 28px;
}
#main-header .authorization{
	top: 60px;
	font-size: 28px;
}
#main-header .authorization-icon{
	width: 28px;
	height: 28px;
}

.header{
	position: absolute;
	background-color: rgb(53,53,53);
	top: 36px;
	left: 248px;
	min-width: 600px;
	right: 10px;
	height: 95px;
}
.header a{
	text-decoration:none;
	color: rgb(255,167,27);
	font-size: 20px;
}
.header a:hover{
	color: white;
}
.links{
	position: absolute;
	top: 32px;
	width: 500px;
}
.link{
	margin-left: 5px;
	display: inline;
}
.authorization {
	position: absolute;
	right: 10px;
	top: 20px;
	font-size: 20px;
	color: rgb(255,167,27);
	border: 2px solid rgb(255,167,27);
	padding: 5px 30px;
}

.authorization-icon {
	margin-top: 5px;
	width: 18px;
	height: 18px;
}

.value {
	position: absolute;
	top: 8px;
	left: 50px;
	color: #E4E4E4;
	font-family: Sansation_Regular;
}
/*------------------header-----------------*/


.content{
	position: absolute;
	background-color: rgb(53,53,53);
	top: 250px;
	left: 200px;
	right: 210px;
}

.picture{
	position: absolute;
	width: 656px;
	height: 356px;
	background-image: url(/images/picture.jpg);
}

.wrap-text{
	position: absolute;
	left: 686px;
	right: 0px;
	height: 356px;
	background-color: #353535;
}
.wrap-text-value{
	position: absolute;
	top: 50px;
	left: 50px;
	right: 50px;
	font-size: 36px;
	text-align: left;
	color: #FFA71B;
}
.wrap-info{
	position: absolute;
	top: 386px;
	width: 656px;
	height: 400px;
	background-color: #353535;
}
.wrap-info h1{
	text-align: center;
	color: #FFA71B;
}
.wrap-info-value{
	margin-left: 50px;
	margin-right: 50px;
	font-size: 17px;
	color: #c1c1c1;
}
.wrap-sport{
	position: absolute;
	top: 386px;
	left: 686px;
	right: 0px;
	height: 185px;
	background: url(/images/sports.jpg) center;
}
.wrap-sport-value{
	position: absolute;
	top: 20px;
	right: 50px;
	font-size: 36px;
	font-weight: bold;
	color: #FFA71B;
}
.wrap-sport a{
	display: block;
	text-decoration:none;
	height: 100%;
}
.wrap-sport-value:hover{
	color: #E4E4E4;
}

.wrap-cybersport-value{
	position: absolute;
	top: 20px;
	left: 50px;
	font-size: 36px;
	font-weight: bold;
	color: #FFA71B;
}
.wrap-cybersport a{
	display: block;
	text-decoration:none;
	height: 100%;
}
.wrap-cybersport-value:hover{
	color: #E4E4E4;
}

.wrap-cybersport{
	position: absolute;
	top: 598px;
	left: 686px;
	right: 0px;
	height: 185px;
	background: url(/images/cybersport.jpg) center;
}
.wrap-pay-methods{
	position: absolute;
	top: 820px;
	width: 100%;
	height: 100px;
	background-color: #353535;
}

.wrap-pay-methods-value{
	height: 100%;
	width: 100%;
	font-size: 25px;
}
.wrap-pay-methods-value th:first-child{
	background-color: #404040;
	color: #505050;
}
.wrap-pay-methods-value  img{
	width: 95px;
	height: 40px;
}
.footer{
	position: absolute;
	top: 1210px;
	left: 200px;
	right: 210px;
	height: 20px;
	color: #707070;
}

.footer img{
	position: absolute;
	right: 0px;
	top: -20px;
}

/*------------------sports categories---------------------*/
.type{
	position: absolute;
	overflow: auto;
	top: 150px;
	left: 10px;
	width: 228px;
	bottom: 0px;
}
.type a{
	display: block;
}
.type > div{
	position: relative;
	background-color: rgb(53,53,53);
	height: 35px;
	width: 210px;
	display: block;
	margin-bottom: 10px;
}
.type > div:hover{
	background-color: rgb(112,112,112);
}
.icon{
	margin-top: 2px;
	margin-left: 10px;
	width: 31px;
	height: 31px;
}
#bookmaker > div{
	height: 50px;
}
/*------------------sports categories end-----------------*/

#main-account a{
	font-size: 14px;
}

#main-account .bill-info a{
	background: #353535;
	width: 110px;
}

.head {
	position: absolute;
	background-color: rgb(255,167,27);
	top: 151px;
	left: 245px;
	right: 280px;
	min-width: 600px;
	height: 35px;
}
.head table{
	width: 100%;
	border-spacing: 0px;
	font-size: 22px;
	height: 36px;
}

#main{
	right: 10px;
}

.head table th{
	border-spacing: 0px;
	border-right: 1px solid rgb(53,53,53);
	text-align: center;
	width: 90px;
	color: rgb(53,53,53);
}

.head table th:first-child{
	text-align: left;
	padding-left: 10px;
}

.head .text {
	padding-top: 3px;
	padding-left: 10px;
	font-size: 22px;
	text-align: left;
	color: rgb(53,53,53);
}
.sport-info{
	position: absolute;
	background-color: lavender;
	top: 191px;
	left: 245px;
	right: 10px;
	bottom: 0px;
	overflow: auto;
}
.sport-info table{
	width: 100%;
	border-spacing: 0px;
	font-size: 18px;
}
.thead{
	background-color: #713D39;
	color: lavender;
	height: 36px;
	text-align: left;
}

.tbody{
	background-color:aliceblue;
	height: 36px;
	text-align: left;
}

.thead-icon img{
	width: 31px;
	height: 31px;
}
.thead-icon{
	padding-left: 5px;
	width: 45px;
	border-bottom: 1px solid rgb(112,112,112);
}

.match-name{
	padding: 7px;
	border-bottom: 1px solid rgb(112,112,112);
}
.match-time{
	padding-right: 5px;
	text-align: right;
	border-bottom: 1px solid rgb(112,112,112);
	width: 120px;
	font-size: 12px;
}
.coef{
	border-left: 1px solid rgb(112,112,112);
	border-bottom: 1px solid rgb(112,112,112);
	width: 90px;
	text-align: center;
}
#input-save{
	background-color: inherit;
	border: none;
	height: 100%;
    width: 80%;
	font-size: inherit;
}
#input-save:hover{
    cursor: pointer;
}

.coef:hover{
	background-color: #FFA71B;
	cursor: pointer;
}
.coef:active{
	background-color: #00d9ff;
}
.coef a{
	display: block;
	text-decoration: none;
	color: black;
}
.coef a:active{
	color: black;
}

.score{
	border-left: 1px solid rgb(112,112,112);
	border-bottom: 1px solid rgb(112,112,112);
	width: 200px;
	text-align: center;
}
.score:hover{
	background-color: #FFA71B;
}
.head .th-save {
	width: 100px;
}
#score-save{
	width: 20px;
}
.thead .score:hover{
	background-color: #713D39;
}
.thead tr td{
	border: none;
}
.thead .coef:hover{
	background-color: #713D39;
}
.client-info{
	position: absolute;
	background-color: rgb(53,53,53);
	top: 36px;
	right: 10px;
	width: 234px;
	height: 75px;
	color: rgb(255,167,27);
	padding: 10px 15px;
	font-size: 14px;
}

.client-info label{
	color: #707070;
}

.user-hello{
	padding-left: 5px;
}

.header-client{
	position: absolute;
	background-color: rgb(53,53,53);
	top: 36px;
	left: 248px;
	right: 280px;
	min-width: 500px;
	height: 95px;
}
.header-client a{
	text-decoration:none;
	color: rgb(255,167,27);
	font-size: 20px;
}
.header-client a:hover{
	color: white;
}
.head-client {
	position: absolute;
	background-color: rgb(255,167,27);
	top: 151px;
	left: 245px;
	right: 280px;
	min-width: 500px;
	height: 35px;
}

.head-client table{
	border-spacing: 0px;
	font-size: 22px;
	height: 36px;
	width: 100%;
}

.head-client table th{
	border-spacing: 0px;
	border-right: 1px solid rgb(53,53,53);
	text-align: center;
	width: 90px;
	color: rgb(53,53,53);
}

.head-client table th:first-child{
	text-align: left;
	width: 700px;
	padding-left: 10px;
}

#results th{
	width: 33%;
}

.sport-info-client{
	position: absolute;
	background-color: lavender;
	top: 191px;
	left: 245px;
	right: 280px;
	bottom: 0px;
	overflow: auto;
}
.sport-info-client table{
	width: 100%;
	border-spacing: 0px;
	font-size: 18px;
}

.balance{
	background-color: rgb(40,40,40);
	width: 110px;
	margin-top: 5px;
	font-size: 12px;
	text-align: right;
	padding: 5px;
}

.deposit{
	font-family: Sansation_Regular;
	position: absolute;
	top: 31px;
	left: 140px;
	width: 95px;
	padding: 4px;
	font-size: 12px;
	background-color: rgb(255,167,27);
	border: 1px solid rgb(255,167,27);
	color: rgb(40,40,40);
	text-decoration: none;
}
.deposit:hover{
	background-color: rgb(40,40,40);
	color: rgb(255,167,27);
	cursor: pointer;
}

.logout{
	font-family: Sansation_Regular;
	position: absolute;
	top: 61px;
	left: 140px;
	width: 95px;
	padding: 4px;
	font-size: 12px;
	background-color: rgb(255,167,27);
	border: 1px solid rgb(255,167,27);
	color: rgb(40,40,40);
	text-decoration: none;
}
.logout:hover{
	background-color: rgb(40,40,40);
	color: rgb(255,167,27);
	cursor: pointer;
}

.logout-icon {
	position: absolute;
	right: 20px;
	top: 5px;
}
.logout-icon img{
	width: 80px;
	height: 80px;
}

.logout-icon a {
	 display: block;
 }

.cabinet{
	position: absolute;
	top: 70px;
	left: 16px;
}
.cabinet a{
	text-align: center;
	color: rgb(112,112,112);
	text-decoration: none;
	border-bottom: 1px dashed rgb(112,112,112);
}

.cabinet a:hover{
	color: rgb(255,167,27);
	border-bottom: 1px dashed rgb(255,167,27);
}

.client-icon{
	position: absolute;
	right: 5px;
	top: 15px;
	width: 70px;
	height: 70px;
}

.bets-hat {
	position: absolute;
	background-color: rgb(255,167,27);
	top: 151px;
	right: 10px;
	width: 264px;
	height: 35px;
}

.bets-hat div{
	padding-top: 2px;
	padding-left: 10px;
	font-size: 24px;
	color: rgb(53,53,53);
}

.bets-block{
	overflow: auto;
	position: absolute;
	background-color: rgb(53,53,53);
	top: 191px;
	right: 10px;
	width: 234px;
	bottom: 0px;
	margin-bottom: 5px;
	color: rgb(255,167,27);
	padding: 10px 15px;
	font-size: 14px;
}

.no-bets-block{
	color:rgb(153,153,153);
	text-align: center;
}

.sport-info-text{
	color:rgb(153,153,153);
	text-align: center;
	font-size: 24px;
}
.hidden{
	display: none;
}
.show{
	display: table-header-group;
}
.showUpd{
	display: block;
}
.close {
	position: absolute;
	background: rgb(33,33,33);
	color: #FFFFFF;
	right: 5px;
	line-height: 25px;
	text-align: center;
	width: 24px;
	height: 24px;
	text-decoration: none;
	font-weight: bold;
	border-radius: 12px;
}

.close:hover { background: #00d9ff; }

/*-------------deposit--------------*/

.deposit-info{
	position: absolute;
	top: 197px;
	left: 245px;
	right: 10px;
	bottom: 10px;
}

.dep-header{
	color: #FFA71B;
}

.dep-header > div{
	position: absolute;
	top: 0px;
	background-color: rgb(53,53,53);
	width: 250px;
	height: 45px;
	text-align: center;
	font-size: 28px;
	padding-top: 5px;
}
.dep-header .commission{
	left: 254px;
}

.dep-header .proc-time{
	left: 507px;
}
.dep-header .amount{
	left: 760px;
}
.dep-header .dep{
	left: 1013px;
}

.dep-body{
	position: absolute;
	top: 60px;
	color: rgb(153,153,153);
}

.dep-body div{
	position: absolute;
	background-color: rgb(53,53,53);
	width: 250px;
	text-align: center;
	height: 65px;
	font-size: 20px;
	padding-top: 20px;
}


.dep-body img{
	width: 133px;
	height: 45px;
}

.dep-body .commission{
	left: 254px;
}

.dep-body .proc-time{
	left: 507px;
}
.amount{
	left: 760px;
}
.dep{
	left: 1013px;
}
#dep-btn{
	position: absolute;
	width: 150px;
	height: 45px;
	top: 20px;
	left: 50px;
}
#dep-amount{
	background-color: #282828;
	text-align: right;
	width: 110px;
	height: 40px;
	font-size: 24px;
	padding-right: 10px;
	border: 0px;
	border-radius: 2px;
}
#webmoney{
	position: absolute;
	top: 150px;
}
#webmoney img{
	width: 200px;
	height: 60px;
}

#mastercard {
	position: absolute;
	top: 240px;
}
#mastercard img{
	width: 100px;
	height: 60px;
}
#visa{
	position: absolute;
	top: 330px;
}
#visa img{
	width: 120px;
	height: 50px;
}

.balance-info{
	position: absolute;
	top: 191px;
	left: 245px;
	right: 280px;
	height: 160px;
	background-color: rgb(53,53,53);
}

.bill-status{
	position: absolute;
	top: 30px;
	left: 50px;
	color: #c1c1c1;
	font-size: 22px;
}

.bill-status span{
	margin-left: 15px;
	padding: 5px;
	color: #FFA71B;
	border: 2px solid #FFA71B;
	background-color: rgb(40,40,40);
}

.bill-info-select{
	cursor: pointer;
	position: absolute;
	top:90px;
	left: 50px;
	height: 40px;
	width: 190px;
	font-size: 22px;
	padding-left: 10px;
	background-color: rgb(40,40,40);
	color: rgb(169,169,169);
	border: none;
}

#bill-info-btn{
	position: absolute;
	top: 90px;
	left: 250px;
	height: 40px;
	font-size: 22px;
}

.balance-info-result{
	position: absolute;
	top: 360px;
	left: 245px;
	right: 280px;
	background-color: rgb(53,53,53);
	margin-bottom: 5px;
	bottom: 0px;
}

.balance-info-result table{
	width: 100%;
	background-color: #282828;

}

#balance-info-thead{
	background-color: rgb(53,53,53);
	color: #FFA71B;
	font-size: 28px;
	width: 100%;
}
#balance-info-thead td{
	padding: 5px 6px;
}
#balance-info-tbody{
	background-color: rgb(53,53,53);
	color: #c1c1c1;
	font-size: 18px;
}
#win-money{
	color: lightgreen;
}
#lose-money{
	color: lightcoral;
}
#balance-info-tbody img{
	width: 70px;
	height: 30px;
}
#balance-info-tbody td{
	padding: 4px 8px;
}
#bet-info-block{
	width: 90%;
	background-color: #282828;
	padding: 10px;
	border-radius: 5px;
	display: block;
}

.event-name{
	position: absolute;
	top: 20px;
	left: 5px;
	font-size: 14px;
	color: #c1c1c1;
}

.bet-name{
	position: absolute;
	bottom: 5px;
	left: 5px;
	font-size: 14px;
	color: #c1c1c1;
}

.bet-name span{
	color: #FFA71B;
	font-size: 18px;
}

.coef-name{
	position: absolute;
	bottom: 5px;
	right: 5px;
	font-size: 14px;
	color: #c1c1c1;
}

.coef-name span{
	color: #FFA71B;
	font-size: 18px;
}

#betting {
	padding: 5px 20px 13px 20px;
	background-color: #353535;
}

#betting label{
	margin-left: 100px;
	font-size: 24px;
	color: #FFA71B;
}
#betting span{
	position: absolute;
	margin-top: 5px;
	right: 100px;
	font-size: 20px;
	color: #c1c1c1;
}
#betting .inputBet{
	background-color: #707070;
	font-size: 22px;
	width:120px;
	text-align: right;
	border: none;
	border-radius: 3px;
}

#bet-submit{
	position: inherit;
	margin-top: 25px;
	margin-left: 400px;
}

#bet-info-block label{
	font-size: 16px;
	color: #FFA71B;
}
#bet-info-block span{
	font-size: 14px;
	margin-left: 5px;
	color: #c1c1c1;
}

.label-money{
	position: relative;
	bottom: -5px;
}
.label-money img{
	width: 20px;
	height: 20px;
}

.label-coeff{
	position: relative;
	bottom: -5px;
	padding-left: 30px;
}
.label-coeff img{
	width: 20px;
	height: 20px;
}

#betImage{
	width: 30px;
	height: 30px;
}
.error{
	text-align: center;
	color: red;
}
#result-icon{
	margin-right: 5px;
}

.infoDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	transition: opacity 400ms ease-in;
}

.infoDialog:target {
	display: block;
	pointer-events: auto;
}
.infoDialog > .status_value {
	position: relative;
	width: 400px;
	height: 260px;
	margin: 8% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 5px;
	background: rgb(33,33,33);
}

.status_value > label{
	font-size: 20px;
	color: #FFA71B;
}
.status_value > span{
	font-size: 20px;
	color: green;
	margin-left: 15px;
}
.status_value > h3{
	text-align: center;
	color: red;
}
#success{
	position: absolute;
	top: 150px;
	left: inherit;
}

#ok-submit{
	position: absolute;
	top: 195px;
	left: 145px;
}

.settings-info{
	position: absolute;
	top: 197px;
	left: 245px;
	right: 10px;
	height: 100px;
	background-color: rgb(53,53,53);
}
.birthday {
	font-size: 30px;
	color: #c1c1c1;
	position: absolute;
	top: 30px;
	left: 50px;
}
.reg-date{
	font-size: 30px;
	color: #c1c1c1;;
	position: absolute;
	top: 30px;
	left: 750px;
}
.change-pass{
	position: absolute;
	top: 307px;
	left: 245px;
	width: 450px;
	background-color: rgb(53,53,53);
	padding-left: 50px;
	padding-right: 50px;
	margin-bottom: 50px;
}

.change-pass h2{
	color: #FFA71B;
}
.change-pass label{
	font-size: 24px;
	color: #c1c1c1;;
}
.change-pass input{
	margin: 10px 0px;
	width: 100%;
	height: 50px;
	background-color: #707070;
	border: none;
}
#save-btn{
	width: inherit;
	padding: 5px 15px;
	font-size: 24px;
	background-color: rgb(33,33,33);
	border: 3px solid rgb(255,167,27);
	border-radius: 2px;
	color: rgb(255,167,27);
}
#save-btn:hover{
	background-color: rgb(255,167,27);
	color: rgb(33,33,33);
	cursor: pointer;
}
.content-set{
	position: absolute;
	background-color: rgb(53,53,53);
	top: 250px;
	left: 200px;
	right: 10px;
}
#green{
	color: green;
	text-align: center;
}
.success{
	color: green;
	text-align: center;
}
#red{
	color: red;
	text-align: center;
}

#tw{
	font-size: 48px;
	top: 0px;
	left: 445px;
}
#admin-panel{
	font-size: 24px;
	color: #707070;
	text-align: center;
	margin-top: 0px;
}
#admin-img{
	position: absolute;
	left: 10px;
	width: 105px;
	height: 90px;
}
#bookmaker-img{
	position: absolute;
	left: 10px;
	width: 90px;
	height: 100px;
}
.addingSport{
	position: absolute;
	top: 197px;
	left: 245px;
	width: 628px;
	background-color: rgb(53,53,53);
}
.addingSport select{
	cursor: pointer;
	margin-left: 30px;
	height: 40px;
	width: 190px;
	font-size: 22px;
	padding-left: 10px;
	background-color: rgb(40,40,40);
	color: rgb(169,169,169);
	border: none;
}
.addingSport input{
	margin-left: 30px;
	margin-top: 10px;
	height: 40px;
	width: 400px;
	font-size: 22px;
	padding-left: 10px;
	background-color: rgb(40,40,40);
	color: rgb(169,169,169);
}
.addingSport a{
	display: block;
}
.add-img{
	background: url("/images/adding.png");
	background-size: 150px 150px;
	position: absolute;
	bottom: 10px;
	left: 460px;
	width: 150px;
	height: 150px;
}
.add-img input{
	width:100%;
	height:100%;
	margin: 0px;
	background: none;
	border: none;
}
.add-img input:hover{
	cursor: pointer;
}
.add-img #second{
	width:100%;
	height:100%;
	margin: 0px;
	background: none;
	border: none;
}
.add-img #second:hover{
	cursor: pointer;
}
.addingCybersport{
	position: absolute;
	top: 197px;
	left: 880px;
	width: 628px;
	background-color: rgb(53,53,53);
}

.addingCybersport select{
	cursor: pointer;
	margin-left: 30px;
	height: 40px;
	width: 190px;
	font-size: 22px;
	padding-left: 10px;
	background-color: rgb(40,40,40);
	color: rgb(169,169,169);
	border: none;
}
.addingCybersport input{
	margin-left: 30px;
	margin-top: 10px;
	height: 40px;
	width: 400px;
	font-size: 22px;
	padding-left: 10px;
	background-color: rgb(40,40,40);
	color: rgb(169,169,169);
}
.addingCybersport a{
	display: block;
}
#matchDate{
	width: 250px;
}
#matchTime{
	width: 142px;
	margin-left: 5px;
}
.coef-input{
	font-size: 22px;
	height: 95%;
	width: 95%;
	border: none;
	text-align: right;
}

.score-input{
	font-size: 22px;
	height: 95%;
	width: 98%;
	border: none;
	text-align: center;
}

.updateDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.9);
	z-index: 99999;
	transition: opacity 400ms ease-in;
}

.updateDialog:target {
	display: block;
	pointer-events: auto;
}

.updateDialog > .update {
	position: relative;
	width: 260px;
	height: 200px;
	margin: 8% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 5px;
	background: rgb(33,33,33);
}

#ok-btn{
	position: absolute;
	top: 140px;
	left: 90px;
	width: 120px;
	height: 50px;
	display: block;
}
#ok-btn span{
	position: absolute;
	top: 10px;
	left: 40px;
}
.head .th-results{
	width: 200px;
}

#result-head{
	right: 10px;
}
#result-head th{
	width: 33%;
}
#result-thead{
	font-size: 20px;
}
#result-thead td{
	padding: 5px;
	text-align: center;
}
#result-tbody{
	font-size: 18px;
}
#result-tbody td{
	width: 33%;
	text-align: center;
	padding: 5px;
	border-right: 1px solid rgb(112,112,112);
	border-bottom: 1px solid rgb(112,112,112);
}

.bill-div{
	margin-top: 20px;
	margin-left: 15px;
	color: #FFA71B;
}
.bill-div table td{
	width: 200px;
	font-size: 18px;
	color: #FFA71B;
	margin-left: 25px;
}
.bill-div table td:last-child{
	width: 100px;
}
.bill-div span, select{
	margin-left: 5px;
	padding: 5px;
	color: #c1c1c1;
	border: 2px solid #c1c1c1;
	background-color: rgb(40,40,40);
}
.bills-info{
	position: absolute;
	top: 197px;
	left: 245px;
	width: 540px;
	height: 300px;
	background-color: rgb(53,53,53);
}
.show-admin{
	width: 100px;
	padding: 5px;
	color: #FFA71B;
	border: 2px solid #FFA71B;
	background-color: rgb(40,40,40);
	text-decoration: none;
	display: block;
}
.show-admin:hover{
	background-color: #FFA71B;
	color: black;
}

.show-admin-submit{
	text-align: left;
	font-family: Sansation_Regular;
	font-size: 18px;
	width: 112.5px;
	padding: 5px;
	color: #FFA71B;
	border: 2px solid #FFA71B;
	background-color: rgb(40,40,40);
	text-decoration: none;
	display: block;
}
.show-admin-submit:hover{
	background-color: #FFA71B;
	color: black;
	cursor: pointer;
}

#select-login{
	font-size: 18px;
}
#result-head-client{
	width: 990px;
}
#put-results-head th{
	border: 2px solid red;
}
#put-results-info td{
	border: 2px solid red;
}
.admin-bills-info{
	position: absolute;
	top: 197px;
	left: 800px;
	min-width: 400px;
	max-height: 70%;
	right: 10px;
	background-color: rgb(53,53,53);
	overflow: auto;
}

.admin-bills-info table{
	padding: 5px;
	width: 100%;
}
.admin-bills-info table .thead td{
	border: 1px solid #FFA71B;
}
.admin-bills-info table tbody tr{
	border: 1px solid #E4E4E4;
}
.error-page{
	position: absolute;
	left: 600px;
	padding-left: 40px;
	width: 350px;
}
#cancel-btn{
	font-family: Sansation_Regular;
	height: 35px;
	font-size: 18px;
	margin-top: 10px;
	margin-left: 50px;
	background-color: rgb(33,33,33);
	border: 3px solid rgb(255,167,27);
	border-radius: 2px;
	color: rgb(255,167,27);
}
#cancel-btn:hover{
	background-color: rgb(255,167,27);
	color: rgb(33,33,33);
	cursor: pointer;
}
#description-edit{
    text-align: left;
    background-color: #713D39;
}

