<div class="header">
    <div class="administration">
        <img id="admin-img" src="${pageContext.request.contextPath}/images/admin.png">
        <h1 id="tw">TOTALLY WIN</h1>
        <h2 id="admin-panel"><fmt:message key="admin.panel"/></h2>
    </div>
    <a href="/controller?command=logout">
        <div class="logout-icon">
            <img src="${pageContext.request.contextPath}/images/logout.png">
        </div>
    </a>
</div>